* {
  all: unset;
  color: #bfbfbf;
  font-size: 16px;
  font-family: "SF Pro Nerd Font";
  font-weight: bold;
  transition: 200ms; }

.blank-window {
  background: transparent; }

.floating-notifications.background .notification-row {
  margin: 10px 0; }

.notification-row {
  color: #bfbfbf;
  outline: none;
  margin: 0;
  padding: 0; }

.notification-background {
  background: #121212;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  border-radius: 24px;
  padding: 0;
  margin: 0 12px; }

.notification {
  padding: 6px;
  border-radius: 12px; }
  .notification.critical {
    border: 2px solid #f16c75;
    color: #f16c75; }
  .notification .notification-content {
    margin: 14px; }
  .notification > *:last-child > * {
    min-height: 3.4em; }
    .notification > *:last-child > * .notification-action {
      border-radius: 8px;
      background-color: rgba(122, 122, 122, 0.55);
      margin: 6px;
      border: 1px solid transparent; }
      .notification > *:last-child > * .notification-action:hover {
        background-color: rgba(158, 158, 158, 0.45);
        border: 1px solid #9e9e9e; }
      .notification > *:last-child > * .notification-action:active {
        background-color: #9e9e9e;
        color: #121212; }

.close-button {
  margin: 6px;
  padding: 2px;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid transparent; }
  .close-button:hover, .close-button:active {
    background-color: #9e9e9e;
    color: #121212; }

.notification.low progress,
.notification.normal progress,
.notification.critical progress {
  background-color: #9e9e9e; }

.image {
  margin: 10px 20px 10px 0; }

.summary {
  font-weight: 800;
  font-size: 1rem; }

.body {
  font-size: 0.8rem; }

.control-center {
  background: #121212;
  border-radius: 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  margin: 18px;
  padding: 12px; }
  .control-center .notification-row .notification-background {
    background-color: rgba(158, 158, 158, 0.55);
    border-radius: 16px;
    margin: 4px 0;
    padding: 4px; }
    .control-center .notification-row .notification-background .notification-content {
      margin: 6px;
      padding: 8px 6px 2px 2px; }
    .control-center .notification-row .notification-background .notification > *:last-child > * {
      min-height: 3.4em; }
      .control-center .notification-row .notification-background .notification > *:last-child > * .notification-action {
        background: rgba(158, 158, 158, 0.6);
        color: #bfbfbf;
        border-radius: 12px;
        margin: 6px; }
        .control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
          background: #9e9e9e; }
        .control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
          background-color: #9e9e9e; }
    .control-center .notification-row .notification-background .notification .close-button {
      background: transparent;
      border-radius: 6px;
      color: #bfbfbf;
      margin: 0;
      padding: 4px; }
      .control-center .notification-row .notification-background .notification .close-button:hover, .control-center .notification-row .notification-background .notification .close-button:active {
        background-color: #9e9e9e;
        color: #7a7a7a; }

.notification-group {
  margin: 2px 8px; }
  .notification-group-headers {
    font-weight: bold;
    font-size: 1.25rem;
    color: #bfbfbf;
    letter-spacing: 2px; }
  .notification-group-icon {
    color: #bfbfbf; }
  .notification-group-collapse-button, .notification-group-close-all-button {
    background: transparent;
    color: #bfbfbf;
    margin: 4px;
    border-radius: 6px;
    padding: 4px; }
    .notification-group-collapse-button:hover, .notification-group-close-all-button:hover {
      background: rgba(158, 158, 158, 0.45); }

.widget-label {
  margin: 6px 6px 6px 105px; }

.widget-title {
  color: #bfbfbf;
  font-size: 1.2em;
  margin: 6px; }
  .widget-title button {
    background: #1e1e1e;
    border-radius: 6px;
    padding: 4px 16px; }
    .widget-title button:hover {
      background-color: rgba(158, 158, 158, 0.45); }
    .widget-title button:active {
      background-color: #9e9e9e; }

.widget-dnd {
  color: #bfbfbf;
  margin: 6px;
  font-size: 1.2rem; }
  .widget-dnd > switch {
    background: #1e1e1e;
    font-size: initial;
    border-radius: 8px;
    box-shadow: none;
    padding: 2px; }
    .widget-dnd > switch:hover {
      background: rgba(158, 158, 158, 0.45); }
    .widget-dnd > switch:checked {
      background: #9e9e9e; }
      .widget-dnd > switch:checked:hover {
        background: rgba(158, 158, 158, 0.45); }
    .widget-dnd > switch slider {
      background: #bfbfbf;
      border-radius: 6px; }

.widget-buttons-grid {
  font-size: x-large;
  padding: 6px 2px;
  margin: 6px;
  border-radius: 12px;
  background: #1e1e1e;
  color: #bfbfbf; }
  .widget-buttons-grid flowbox > flowboxchild > button {
    margin: 4px 10px;
    padding: 6px 12px;
    background: transparent;
    border-radius: 8px; }
    .widget-buttons-grid flowbox > flowboxchild > button:hover {
      background: rgba(158, 158, 158, 0.45); }
    .widget-buttons-grid flowbox > flowboxchild > button.toggle:checked {
      background: rgba(158, 158, 158, 0.45); }
      .widget-buttons-grid flowbox > flowboxchild > button.toggle:checked label {
        color: #7a7a7a; }

.widget-mpris {
  background: rgba(158, 158, 158, 0.2);
  border-radius: 16px;
  color: #7a7a7a;
  padding: 6px;
  margin: 20px 6px; }
  .widget-mpris button {
    color: rgba(122, 122, 122, 0.9);
    border-radius: 6px; }
    .widget-mpris button:hover {
      color: #bfbfbf; }
  .widget-mpris-player {
    background: #9e9e9e;
    padding: 6px 10px;
    margin: 10px;
    border-radius: 14px; }
  .widget-mpris-album-art {
    border-radius: 16px; }
  .widget-mpris-title {
    font-weight: 700;
    font-size: 1rem; }
  .widget-mpris-subtitle {
    font-weight: 500;
    font-size: 0.8rem; }
