// ┏┓┏┓┳┓┏┳┓┳┓┏┓┓   ┏┓┏┓┳┓┏┳┓┏┓┳┓
// ┃ ┃┃┃┃ ┃ ┣┫┃┃┃ ━━┃ ┣ ┃┃ ┃ ┣ ┣┫
// ┗┛┗┛┛┗ ┻ ┛┗┗┛┗┛  ┗┛┗┛┛┗ ┻ ┗┛┛┗

/***** Minimal Color Palette *****/
$bordershadow: rgba(255, 255, 255, 0.2);
$widget-background: rgba(150, 150, 150, 0.1);
$widget-active-background: rgba(255, 255, 255, 0.1);

/***** Global Styles *****/
* {
  all: unset;
  color: white;
  font-size: 16px;
  font-family: "SF Pro Nerd Font";
  font-weight: bold;
  transition: 200ms;
}

.blank-window {
  background: transparent;
}

/***** Floating Notifications *****/

.floating-notifications.background .notification-row {
  margin: 10px 0px;
}

.notification-row {
  color: white;
  outline: none;
  margin: 0;
  padding: 0;
}

.floating-notifications.background .notification-row .notification-background {
  background: transparent;
  box-shadow: 0 0 10px $bordershadow;
  border-radius: 24px;
  padding: 0;
  margin: 0 12px;
}

.floating-notifications.background .notification-row .notification-background .notification {
  padding: 6px;
  border-radius: 12px;
  background: $widget-background;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
  border: 2px solid red;
  color: red;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
  margin: 14px;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* {
  min-height: 3.4em;
}

.floating-notifications.background .notification-row .notification-background .notification-action {
  border-radius: 8px;
  background-color: $widget-background;
  margin: 6px;
  border: 1px solid transparent;
}

.floating-notifications.background .notification-row .notification-background .notification-action:hover {
  background-color: $widget-active-background;
  border: 1px solid white;
}

.floating-notifications.background .notification-row .notification-background .notification-action:active {
  background-color: white;
  color: black;
}

.floating-notifications.background .notification-row .notification-background .close-button {
  margin: 6px;
  padding: 2px;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid transparent;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover,
.floating-notifications.background .notification-row .notification-background .close-button:active {
  background-color: white;
  color: black;
}

.notification.critical progress,
.notification.low progress,
.notification.normal progress {
  background-color: white;
}

/***** Control Center *****/

.control-center {
  background: $widget-background;
  border-radius: 18px;
  box-shadow: 0 0 10px $bordershadow;
  margin: 18px;
  padding: 12px;
}

.control-center .notification-row .notification-background,
.control-center .notification-row .notification-background .notification.critical {
  background-color: $widget-background;
  border-radius: 16px;
  margin: 4px 0px;
  padding: 4px;
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 6px;
  padding: 8px 6px 2px 2px;
}

.control-center .notification-row .notification-background .notification-action {
  background: $widget-active-background;
  color: white;
  border-radius: 12px;
  margin: 6px;
}

.control-center .notification-row .notification-background .notification-action:hover {
  background: white;
  color: black;
}

.control-center .notification-row .notification-background .close-button {
  background: transparent;
  border-radius: 6px;
  color: white;
  margin: 0;
  padding: 4px;
}

.control-center .notification-row .notification-background .close-button:hover,
.control-center .notification-row .notification-background .close-button:active {
  background-color: white;
  color: black;
}

/***** Group Styles *****/
.notification-group {
  margin: 2px 8px;
}

.notification-group-headers {
  font-weight: bold;
  font-size: 1.25rem;
  color: white;
  letter-spacing: 2px;
}

.notification-group-icon {
  color: white;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: transparent;
  color: white;
  margin: 4px;
  border-radius: 6px;
  padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background: $widget-active-background;
}

/***** Widgets *****/

.widget-label {
  margin: 6px 6px 6px 105px;
}

.widget-title {
  color: white;
  font-size: 1.2em;
  margin: 6px;
}

.widget-title button {
  background: $widget-background;
  border-radius: 6px;
  padding: 4px 16px;
}

.widget-title button:hover {
  background-color: $widget-active-background;
}

.widget-title button:active {
  background-color: white;
  color: black;
}

.widget-dnd {
  color: white;
  margin: 6px;
  font-size: 1.2rem;
}

.widget-dnd>switch {
  background: $widget-background;
  font-size: initial;
  border-radius: 8px;
  box-shadow: none;
  padding: 2px;
}

.widget-dnd>switch:hover {
  background: $widget-active-background;
}

.widget-dnd>switch:checked {
  background: white;
}

.widget-dnd>switch:checked:hover {
  background: $widget-active-background;
}

.widget-dnd>switch slider {
  background: white;
  border-radius: 6px;
}

.widget-buttons-grid {
  font-size: x-large;
  padding: 6px 2px;
  margin: 6px;
  border-radius: 12px;
  background: $widget-background;
  color: white;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
  margin: 4px 10px;
  padding: 6px 12px;
  background: transparent;
  border-radius: 8px;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background: $widget-active-background;
}

.widget-buttons-grid>flowbox>flowboxchild>button.toggle:checked {
  background: $widget-active-background;
}

.widget-buttons-grid>flowbox>flowboxchild>button.toggle:checked label {
  color: $bordershadow;
}

/***** Music Player *****/

.widget-mpris {
  background: $widget-background;
  border-radius: 16px;
  color: white;
  padding: 6px;
  margin: 20px 6px;
}

.widget-mpris button {
  color: white;
  border-radius: 6px;
}

.widget-mpris button:hover {
  color: white;
}

.widget-mpris-player {
  background: $widget-active-background;
  padding: 6px 10px;
  margin: 10px;
  border-radius: 14px;
}

.widget-mpris-album-art {
  border-radius: 16px;
}

.widget-mpris-title {
  font-weight: 700;
  font-size: 1rem;
}

.widget-mpris-subtitle {
  font-weight: 500;
  font-size: 0.8rem;
}
