* {
  border: none;
  border-radius: 0;
  font-family: monospace;
  font-size: 13px;
  min-height: 0;
}

#waybar {
  background: #000000;
  color: #FFFFFF;
}

#workspaces button {
  font-size: 10px;
  padding: 0 5px;
  margin-right: 3px;
  background: #333333;
  color: #FFFFFF;

  border: 1px solid #555555;
}

#workspaces button.focused {
  font-size: 10px;
  background: #285577;
  color: #FFFFFF;
  border: 1px solid #406D87;
}

#workspaces button.urgent {
  color: #FF0000;
}

#mode,
#cpu,
#memory,
#battery,
#clock,
#tray {
  color: #FFFFFF;
}

#battery.critical:not(.charging) {
  color: #FF0000;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.active {
  -gtk-icon-effect: highlight;
}

#custom-separator1,
#custom-separator2,
#custom-separator3,
#custom-separator4 {
  color: #666666;
  padding: 0 3px;
}
